<?xml version="1.0" encoding="UTF-8"?>           

<!-- 이문서는 mybatis sql 매퍼 파일이라고 
Doctype 을 설정 ( 한글자라도 오타없이 정확하게 기술할것)  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.BoardDao">
	<insert id="save" parameterType="com.example.demo.entity.board">
	  	<selectKey order="BEFORE" resultType="Long" keyProperty="bno">
			select board_seq.nextval from dual	
		</selectKey>
	insert into board(bno, title, content, writer, write_time, read_cnt, good_cnt, bad_cnt, is_deleted)
	values(#{bno},#{title},#{content},#{writer},sysdate,0,0,0,0)
	</insert>
	
	<select id="findAll" resultType="com.example.demo.dto.BoardDto$BoardList">
		<!-- [CDATA] = xml 파서에게 xml이 아니니 분석하지말라고 선언한다 -->
		<![CDATA[
		select * from
    		(
    			select  rownum as rnum,b.*from
        			(select /*+ index_desc(board board_pk_bno)*/
        			bno, title , writer, to_char(write_time, 'yyyy-mm-dd hh24:mi:ss') as writeTime, read_cnt from board) b
    			where rownum<#{endRowNum}
			)
			where rnum>#{startRowNum}
			]]>
	</select>
	<!-- resultMap 은 
	마이바티스가 sql 실행결과를 가지고 객체를 만들면 문제가 안된다 
	그런데, 객체가 생성을 못하면 개발자 입장에서 resultMap으로 사용하라고 알려준다  -->
	<resultMap id="findByIdMap" type="com.example.demo.dto.BoardDto$Read">
		<id column="bno" property="bno" />
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer"/>
		<result column="writeTime" property="writeTime"/>
		<result column="read_cnt" property="readCnt"/>
		<result column="good_cnt" property="goodCnt"/>
		<result column="bad_cnt" property="badCnt"/>
		<result column="is_deleted" property="isDeleted"/>
		
		<collection property="comments" javaType="java.util.List" ofType="com.example.demo.dto.CommentDto$Read">
			<id column="ccno" property="cno" />
			<result column="cwriter" property="writer"/>
			<result column="ccontent" property="content"/>
			<result column="cwriteTime" property="writeTime"/>
		</collection>

	</resultMap>
	<select id="findById" resultMap="findByIdMap">
		select b.bno, b.title, b.content, b.writer, to_char(b.write_time, 'yyyy-mm-dd hh24:mi:ss') as writeTime, 
		b.read_cnt, b.good_cnt, b.bad_cnt,b.is_deleted,
		c.cno as ccno , c.writer as cwriter, c.content as ccontent, to_char(c.write_time, 'yyyy-mm-dd hh24:mi:ss') as cwriteTime
		from board b left outer join comments c on b.bno=c.bno where b.bno=#{bno} order by c.cno desc
	</select>
</mapper>
